<?xml version="1.0" encoding="UTF-8"?>
<jmapper
xmlns="https://jmapper-framework.googlecode.com"
xmlns:xsi="https://jmapper-framework.googlecode.com/svn"
xsi:noNamespaceSchemaLocation="jmapper.xsd">
  <class name="com.googlecode.jmapper.bean.Destination">
    <attribute name="id">
      <value name="id"/>
    </attribute>
    <attribute name="destinationField">
      <value name="sourceField"/>
    </attribute>
  </class>
</jmapper>