package com.googlecode.jmapper.integrationtest.operations.mock;

import com.googlecode.jmapper.integrationtest.mock.IMockS;
import com.googlecode.jmapper.integrationtest.mock.IObjS;
import com.googlecode.jmapper.integrationtest.mock.ObjS;
import com.googlecode.jmapper.integrationtest.operations.bean.${testName}D;
import com.googlecode.jmapper.integrationtest.operations.bean.${testName}S;

public class ${testName}MockS implements IMockS<${testName}D, ${testName}S> {

	public IObjS<${testName}D, ${testName}S> AllAll() {
		return new ObjS<${testName}D, ${testName}S>(getDAll(), getSAll());
	}

	public IObjS<${testName}D, ${testName}S> AllValued() {
		return new ObjS<${testName}D, ${testName}S>(getDValued(), getSValued());
	}

	public IObjS<${testName}D, ${testName}S> AllNull() {
		return new ObjS<${testName}D, ${testName}S>(null, getSAll());
	}

	private ${testName}D getDAll(){
		return new ${testName}D();
	}
	
	private ${testName}S getSAll(){
		return new ${testName}S();
	}
	
	private ${testName}D getDValued(){
		return new ${testName}D();
	}
	
	private ${testName}S getSValued(){
		return new ${testName}S();
	}
}