package it.avutils.jmapper.integrationtest.operations;

import it.avutils.jmapper.integrationtest.operations.bean.${testName}D;
import it.avutils.jmapper.integrationtest.operations.bean.${testName}S;
import it.avutils.jmapper.integrationtest.BuilderS;

public class ${testName}STest extends BuilderS<${testName}D,${testName}S> {}