package it.avutils.jmapper.integrationtest.operations;

import it.avutils.jmapper.integrationtest.operations.bean.${testName}D;
import it.avutils.jmapper.integrationtest.operations.bean.${testName}S;
import it.avutils.jmapper.integrationtest.BuilderDS;

public class ${testName}DSTest extends BuilderDS<${testName}D,${testName}S> {}